{%extends 'layout.html' %}

{% block body %}


<div class = "jumbotron jumbotron-fluid text-center" style="background-color : lavender;">
        <div class="container">
          <h1 class="display-5"><br>Dashboard for Twitter Analytics </h1> <br>

          <br>
          <p>Our objective is to take any hashtag as an input and perform different analystics on tweets.
            A hashtag is a label used in social networks that makes it easier to identify tweets of a specific theme.
            <br>
             The first bolt calculates the sentiment of a particular tweet and gives three outputs - good , neutral and bad.
             <br>
             The second bolt calculates how many times a tweet has been retweeted.
             <br>
             The third bolt calculates how many countries are talking about a particular hashtag.
             <br>



          </p>


        </div>
      </div>



    


{% endblock %}
