<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
     <a class="navbar-brand" href="/">Twitter Analysis</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item active">
           <a class="nav-link" href="/">Home
             <span class="sr-only">(current)</span>
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/bolt1.html">Sentiment Analysis<br></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/bolt2.html">Tweet Reach<br></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/bolt3.html">Country Count<br></a>
         </li>
         

       </ul>
     </div>
   </div>
 </nav>
